@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Baloo Da 2", cursive;
}

.d-block {
  color: #c2c7d0;
}

.custom-text-color {
  color: #070707;
}

.custom-text-color:hover {
  color: #070707;
}

@media (max-width: 1023px) {
  .custom-col-6 {
    width: 50% !important;
  }
}
