@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Hind Siliguri", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}

.w-35 {
  width: 35%;
}

.custom-background-color {
  background-color: #f2f3f7 !important;
}

.d-block {
  color: #c2c7d0;
}

.custom-text-color {
  color: #070707;
}

.custom-text-color:hover {
  color: #070707;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}

.thumb-lg {
  height: 100px;
  width: 100px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.swal2-show {
  height: 60px;
  right: 6px !important;
  border-radius: 0 !important;
}

.swal2-popup.swal2-toast {
  padding: 5px 1rem !important;
}

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.left-padding {
  padding-left: 0.4rem;
}

@media only screen and (max-width: 767px) and (min-width: 290px) {
  .w-custom {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .w-custom {
    width: 75% !important;
  }
}

.w-custom {
  width: 50%;
}

@media (max-width: 1023px) {
  .custom-col-6 {
    width: 50% !important;
  }
}
