@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Hind Siliguri", sans-serif;
}

.custom-background-color {
  background-color: #f2f3f7 !important;
}

.d-block {
  color: #c2c7d0;
}

.custom-text-color {
  color: #070707;
}

.custom-text-color:hover {
  color: #070707;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}

@media (max-width: 1023px) {
  .custom-col-6 {
    width: 50% !important;
  }
}
