@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Hind Siliguri', sans-serif;
    /* font-size: 14px !important; */
}

.indicate{
  width: 100%;
  height: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}

.indicate span{
  height: 7px;
  width: 34%;
  border-radius: 5px;
  border: 1px solid #efefef;
}

.weak{
  background-color: #ff4757;
}

.medium{
  background-color: orange;
}

.strong{
  background-color: #23ad5c;
}

#invoiceContainerDiv{
  position: relative;
}

#address{
  font-size: 14px !important;
}

.register-login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-login {
  width: 90%;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
}

.register-login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.register-login form {
  font-size: 20px;
}

.register-login form .form-group {
  margin-bottom: 12px;
}


.register-login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

#logoutOption{
  display: none;
}

.autocomplete #contactSuggestionList{
    list-style: none;
    padding: 0px;
    width: 100%;
    position: absolute;
    margin: 0;
    background: white;
}

.autocomplete .results > #contactSuggestionList {
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete #contactSuggestionList li{
  background: white;
  padding: 10px;
  margin-bottom: 1px;
   z-index: 1;
  transition: all 0.25s ease-in; /* here */
}

.autocomplete #contactSuggestionList li:nth-child(even){
    background: white;
    color: black;
}

.autocomplete #contactSuggestionList li:hover{
    cursor: pointer;
    background: #4a00e0;
    color: white;
}

.autocomplete input[type=number]{
    padding: 5px;
    width: 100%;
    letter-spacing: 1px;
}

.stats-content{
  gap: 10px;
}

.td-units{
  text-align: center;
}

#invoiceTable input{
  border: 0;
  border-bottom: 2px solid rgb(103, 103, 103) !important;
}

#invoiceTable input:focus{
  outline: none !important;
  border-bottom: 2px solid rgb(115, 61, 217) !important;
  box-shadow: none;
}

.btn-outline-primary{
  border: 1px solid linear-gradient(to right, #4a00e0, #8e2de2);
}

.btn-outline-primary:hover{
  background-color: #8e2de2 !important;
  border: 1px solid linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}

#invoice {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

#invoice thead tr{
  /* background-color: #6739c0; */
  background-color: #efebf9;
  color: black;
}

#invoice tbody tr:nth-child(even){
  background-color: #efebf9;
}

.title{
  color: #653bbc;
}

.invoice-text{
  color: #838383;
}

#customerDetails .card{
  background-color: #efebf9;
}

.replacedFields{
  display: none;
}

.viewInvoice:hover .fa-eye,
.viewPdf:hover .fa-file-pdf,
.printInvoice:hover .fa-print,
.fa-eye:hover,
.fa-file-pdf:hover,
.fa-print:hover
{
  color: white;
}

.invoiceListActionDivOne{
  box-shadow: rgba(22, 28, 38, 0.08) 0px 2px 24px;
  z-index: 999;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.invocieListActionDivTwo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #b4c2d5;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
}

.invoiceListActionDivFour{
  opacity: 1;
  width: 100%;
  min-height: 0px;
  min-width: 0px;
  border-radius: 4px;
  transform-origin: -0.5rem 1rem;
}

.invoiceListActionDivFour ul{
  opacity: 1;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    border-radius: 4px;
    transform-origin: -0.5rem 1rem;
    font-size: 16px;
}

.invoiceListActionLi{
  border: 0px;
  outline: 0px;
  background: none;
}

.invoiceListItems{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
  height: 2.75rem;
  border-radius: 4px;
  line-height: 2.75rem;
}

.invoiceListFirstSpan{
  margin-right: 1rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  display: inline-block;
}

.invoiceListSecondSpan{
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(97, 113, 131);
}

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

footer{
  bottom: 0;
  height: 60px;
  position: fixed;
}

hr{
    border: 1px dashed black;
}

@media (max-width: 768px) {
  #invoiceTable tr td{
    padding-right: 20px;
  }

  #invoiceTable tr td:last-child{
    padding-right: 0px;
  }
}

@media print{
  #logo{
    width: 200px;
  }

  #invoiceContainerDiv{
    padding: 3.5rem 2.5rem 0!important;
  }

  .customer-details-card{
    padding: 5px;
    font-size: 13px;
  }

  #address{
    font-size: 10px !important;
  }

  #qrCode{
    height: 100px;
    vertical-align: middle;
  }

  
}