@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Hind Siliguri', sans-serif;
    /* font-size: 14px !important; */
}

.indicate{
  width: 100%;
  height: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}

.indicate span{
  height: 7px;
  width: 34%;
  border-radius: 5px;
  border: 1px solid #efefef;
}

.weak{
  background-color: #ff4757;
}

.medium{
  background-color: orange;
}

.strong{
  background-color: #23ad5c;
}

#invoiceContainerDiv{
  position: relative;
}

.register-login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-login {
  width: 90%;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
}

.register-login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.register-login form {
  font-size: 20px;
}

.register-login form .form-group {
  margin-bottom: 12px;
}


.register-login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}
#logoutOption{
  display: none;
}

.stats-content{
  gap: 10px;
}

.td-units{
  text-align: center;
}

#invoiceTable input{
  border: 0;
  border-bottom: 2px solid rgb(103, 103, 103) !important;
}

#invoiceTable input:focus{
  outline: none !important;
  border-bottom: 2px solid rgb(115, 61, 217) !important;
  box-shadow: none;
}

.btn-outline-primary{
  border: 1px solid linear-gradient(to right, #4a00e0, #8e2de2);
}

.btn-outline-primary:hover{
  background-color: #8e2de2 !important;
  border: 1px solid linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}

#invoice {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

#invoice thead tr{
  background-color: #6739c0;
  color: white;
}

#invoice tbody tr:nth-child(even){
  background-color: #efebf9;
}

.title{
  color: #653bbc;
}

.invoice-text{
  color: #838383;
}

#customerDetails .card{
  background-color: #efebf9;
}

.replacedFields{
  display: none;
}

footer{
  bottom: 0;
  height: 60px;
  position: fixed;
}

hr{
    border: 1px dashed black;
}

@media (max-width: 768px) {
  #invoiceTable tr td{
    padding-right: 20px;
  }

  #invoiceTable tr td:last-child{
    padding-right: 0px;
  }
}

@media print{
  #logo{
    width: 200px;
  }

  #invoiceContainerDiv{
    padding: 4rem 2.5rem 0!important;
  }

  .customer-details-card{
    padding: 5px;
    font-size: 13px;
  }

  #qrCode{
    height: 100px;
    vertical-align: middle;
  }

  
}