@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Hind Siliguri', sans-serif;
    /* font-size: 14px !important; */
}

.register-login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-login {
  width: 90%;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
}

.register-login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.register-login form {
  font-size: 20px;
}

.register-login form .form-group {
  margin-bottom: 12px;
}


.register-login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}
#logoutOption{
  display: none;
}

.stats-content{
  gap: 10px;
}

.td-units{
  text-align: center;
}

#invoiceTable input{
  border: 0;
  border-bottom: 2px solid rgb(103, 103, 103) !important;
}

#invoiceTable input:focus{
  outline: none !important;
  border-bottom: 2px solid rgb(115, 61, 217) !important;
  box-shadow: none;
}

.calculationRow{
  display: none;
}

@media print{
  #logo{
    width: 150px;
  }

  #invoiceContainerDiv{
    padding: 6rem !important;
  }
}